body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  background-color: #7b4cd4;
  padding: 2vw;
  margin-left: 10vw;
  margin: 1.5vw;
  border-radius: 1.46vw;
}
#hidden {
  text-align: center;
  color: red;
  font-size: larger;
  visibility: hidden;
}
.heading {
  text-align: center;
  margin-top: 0.73vw;
}
.row {
  padding: 1vw;
  padding-left: 4vw;
}
span {
  padding-right: 1.3vw;
}
.grid-child {
  width: 20%;
  padding: 0.6vw;
}
table {
  border: 0.3vw solid #a570f0;
  background-color: white;
  color: black;
  margin-left: 4vw;
  max-width: 75%;
  text-align: center;
}
td {
  background-color: white;
  padding: 1vw;
}
.material-icons {
  cursor: default;
}
.material-icons:hover {
  color: rgb(66, 66, 66);
  transform: scale(1.25, 1.25);
}
